<div id="container">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Search:</label>
    <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search anything...">
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Surname2</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <!-- Recorremos los usuarios y metemos un filtro de busqueda -->
      <tr *ngFor="let item of paginatedData | filter:searchText">
        <td>{{item.username}}</td>
        <td>{{item.name}}</td>
        <td>{{item.surname1}}</td>
        <td>{{item.surname2}}</td>
        <td>{{item.email}}</td>
      </tr>
    </tbody>
  </table>

  <app-pagination [totalItems]="data.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (onClick)="changePage($event)"></app-pagination>
</div>