<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li (click)="pageClicked(page)" *ngFor="let page of pages" class="page-item" [ngClass]="{'active': page==currentPage}"><a class="page-link"
                href="javascript:void(0)">{{page}}</a></li>
    </ul>
</nav>